$primerycolor: #fff;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    & img{
        width: 120px;
    }
    & .head{
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & a{
        text-decoration: none;
        font-size: 18px;
        color: blueviolet;
    }
}


